body {
color: white;
font-family: 'Open Sans', sans-serif;
text-align: center;
margin:0px;
font-size:12pt;
background: black url('img/bakgrunn.jpg') no-repeat center top fixed;
-moz-background-size: cover;
-webkit-background-size: cover;
-ms-background-size: cover;
background-size: cover;
box-sizing: content-box;
}

p{
margin-top: 0.8em;
margin-bottom:0.8em;
}

h3{
font-size: 12pt;
margin-top:0.2em;
margin-bottom:0em;
}

a {
color: white;
text-decoration: none;
font-weight: normal;
}

a.inline{
font-weight:bold}

a:hover {
text-decoration: underline;
}

#logo {
width:250px;
}

.menu {
width:100%;
margin-top:22px;
margin-right:50px;
position:relative;
text-align:center;
font-weight: normal;
font-size: 12pt;
}

.menuelement{
margin-left: 1em;
}

#picked{
font-weight:bold;
}

.entry{
padding-top:0.8em;
padding-left:1.2em;
padding-right:1.2em;
padding-bottom:0.8em;
text-align: left;
background-color: rgba(0,0,0,0.2);
width: 70vw;
min-width: 80px;
top:5vh;
position: relative;
left: 50%;
margin-right: -50%;
transform: translate(-50%, 0);
margin-top: 2em;
margin-bottom: 2em;
}

.ollogo{
display: block;
margin-left: auto;
margin-right: auto;
max-width: 250px;
}

.logo{
width: 20vw;
min-width: 200px;
max-width: 800px;
position:relative;
margin-left: auto;
margin-right:auto;
margin-top:auto;
margin-bottom:auto;
}

img.thumbnail{
height: 10vw;	
}