* {
	margin: 0;
	padding: 0;
}

body {
color: white;
font-family:'Open Sans', Segoe UI, sans-serif;
text-align: center;
font-size:11pt;
}

html {
background-image: url(img/bakgrunn_jul.svg);
background-repeat: no-repeat;
background-position: center top;
background-attachment: fixed; 
height:101%;
min-height:101%;
-webkit-background-size:cover;
-moz-background-size: cover;           /* Gecko 1.9.2 (Firefox 3.6) */
-o-background-size: cover;           /* Opera 9.5 */
background-size:cover;
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/bakgrunn_jul.svg', sizingMethod='scale')";
}

p{
margin-top: 0.8em;
margin-bottom:0.8em;
}

h3{
font-size: 12pt;
margin-top:0.2em;
margin-bottom:0em;
}

a {
color: white;
text-decoration: none;
font-weight: normal;
}

a.inline{
font-weight:bold}

a:hover {
text-decoration: underline;
}

#logo {
width:250px;
}

.menu {
width:100%;
margin-top:22px;
position:relative;
text-align:center;
font-weight: normal;
font-size: 12pt;
}

.menuelement{
margin-left: 0.4em;
margin-right:0.4em;
}

#picked{
font-weight:bold;
}

.entry{
padding-top:0.8em;
padding-left:1.2em;
padding-right:1.2em;
padding-bottom:0.8em;
text-align: left;
background-color: rgba(50,50,50,0.4);
width: 74vw;
min-width: 200px;
max-width:1200px;
top:5vh;
position: relative;
left: 50%;
transform: translate(-50%, 0);
margin-top: 2em;
margin-bottom: 2em;
overflow: hidden;
}

.ollogo{
display:block;
margin-left:auto;
margin-right:auto;
position:relative;
margin-left: auto;
margin-right:auto;
max-width:250px;
width:74vw;
-webkit-box-shadow: 3px 3px 0px 0px rgba(255,255,255,0.75);
-moz-box-shadow: 3px 3px 0px 0px rgba(255,255,255,0.75);
box-shadow: 3px 3px 0px 0px rgba(255,255,255,0.75);
}

#logo{
position:relative;
margin-left: auto;
margin-right:auto;
margin-top:auto;
margin-bottom:auto;
-webkit-box-shadow: 3px 3px 0px 0px rgba(255,255,255,0.75);
-moz-box-shadow: 3px 3px 0px 0px rgba(255,255,255,0.75);
box-shadow: 3px 3px 0px 0px rgba(255,255,255,0.75);
}

img.thumbnail{
min-height:100px;
height:20vh;
padding-right: 5px;
padding-left:0px;
padding-top: 1px;
}

@media screen and (max-width: 640px) {
    img.thumbnail {
        min-height:50px;
		height:12vh;
		padding-right: 3px;
		padding-left:0px;
		padding-top: 0px;
    }
	
	.entry{
	top:0;
	}
	
}